name: Deploy to DreamHost
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Deploy to DreamHost
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          script: |
            cd /home/dh_3gdtpn/eduardoseelig.com.ar
            git pull origin master
#            wp core update --version=<your-wp-version>
#            wp plugin update --all
#            wp theme update --all
